// $color-white: #ffffff;
// $color-black: #000000;
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-black2: #000000;
  --clr-blue-txt: #427ec0;
  --clr-blue-txt2: #427ec0;
  --clr-lite-blue-bg: #a1e8f9;
  --clr-blue-foot: #003e5e;
}
