:root {
    --clr-white: #ffffff;
    --clr-white-lite: #F0F0F0;
    --clr-black: #000000;
    --clr-black2: #3A3A3A;
    --clr-blue-txt: #427EC0;
    --clr-lite-blue-bg: #A1E8F9;
    --clr-blue-foot: #003E5E;
    --btn-text: #EFF3F3;
    --form-text: #767676;
    --clr-blue-light: #99BBEB;
    --clr-gry: #363940;
    --clr-gry-light: #757575;
}

