// $color-white: #ffffff;
// $color-black: #000000;
:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-blue-txt: #427EC0;
    --clr-lite-blue-bg: #A1E8F9;
    --clr-blue-foot: #003E5E;
    --btn-text: #EFF3F3;
}