.oa-emp {
    background: linear-gradient(270deg, #E1F2FD 47.32%, rgba(240, 249, 255, 0.60) 125.62%);
    box-shadow: 0px 0px 18.3px 0px rgba(66, 126, 192, 0.11);
    padding: $spacer-5 0;
    margin: 180px 0 70px 0;

    &__txt {
        position: relative;
        p {
            font-size: 50px;
            width: 50%;
            color: transparent;
            -webkit-text-stroke: 1px #427EC0;
            -webkit-text-stroke-color: #427EC0;
            font-weight: 700;
        }
    }

    &__video {
        position: absolute;
        right: 0;
        top: -95%;
        width: 50%;
        height: 100%;
    }
}

@include tablet {
    .oa-emp {
        margin: 60px 0 0 0;
        &__txt {
            p {
                font-size: 32px;
            }
        }
    }
}

@include mobile {
    .oa-emp {
        margin: 20px 0;
        padding-bottom: 150px;
        &__txt {
            p {
                width: 100%;
                font-size: 26px;
                text-align: center;
            }
        }

        &__video {
            right: 0;
            top: 90%;
            width: 100%;
        }
    }
}