.oa-partners {
    padding: $spacer-5 $spacer-0;
    &__outer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    }
    &__img {
        width: calc(20% - 32px);
        height: auto;
        margin: $spacer-3;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@include mobile {
    .oa-partners {
        &__img {
            width: calc(33.3% - 32px);
        }
    }
}