.qa-eOutsource{
    padding: 60px 0;
    &-bg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    .oa-heading{
        margin-bottom: $spacer-6;
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &__tile{
        width:calc(33.33% - 25px);
        margin: 0px 37.5px 35px 0;
        &:nth-child(3), &:last-child{
            margin-right: 0;
        }
        &:nth-child(4), &:nth-child(5), &:last-child{
            margin-bottom: 0;
        }
    }
}
@include mobile{
    .qa-eOutsource{
        padding: $spacer-5 0;
        &__wrap{
            flex-direction: column;
        }
        &__tile{
            width:calc(100% - 0px);
            margin: 0px 0px 35px 0;
            &:nth-child(4), &:nth-child(5){
                margin: 0px 0px 35px 0;
            }
        }
    } 
}