.oa-heading {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--clr-blue-txt);
    &--blk {
        font-weight: 600;
        color: var(--clr-black);
    }
}

@include mobile {
    .oa-heading {
        font-size: 22px;
    }
}